
@model IEnumerable<myimage.Models.image>

@{
    ViewBag.Title = "addtocart";
}

@using myimage.Controllers


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/homecss/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/homecss/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/homecss/css/magnific-popup.css">
    <link rel="stylesheet" href="~/homecss/css/jquery-ui.css">
    <link rel="stylesheet" href="~/homecss/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/homecss/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/homecss/css/aos.css">
    <link rel="stylesheet" href="~/homecss/css/style.css">

</head>
<body>
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" class="form-control border-0" placeholder="Search">
                            </form>
                        </div>
                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="index.html" class="js-logo-clone">MY IMAGE</a>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li><a href="@Url.Action("signin","myimage")"><span class="icon icon-person"></span></a></li>
                                    <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                                    <li>
                                        <a href="@Url.Action("addtocart", "ShoppingCart")" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>

                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                    <li>@Html.ActionLink("Logout", "logout", "admin")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li>
                            <a href="@Url.Action("home","myimage")">Home</a>
                            @*<ul class="dropdown">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                                <li class="has-children">
                                    <a href="#">Sub Menu</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                            </ul>*@
                        </li>
                        <li>
                            <a href="@Url.Action("aboutus","myimage")">About</a>

                        </li>
                        <li class="has-children">
                            <a href="#">Prints</a>
                            <ul class="dropdown">
                                <li><a href="@Url.Action("shopmetallicprint","myimage")">Metallic Prints</a></li>
                                <li><a href="#">Photo Print T-Shirts</a></li>
                                <li><a href="#">Printed Cups</a></li>
                                <li><a href="#">Framed Prints</a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Create","contactforms")">Contact US</a></li>
                    
                    </ul>
                </div>
            </nav>
        </header>
        @if (Session["cart"] != null)
        {
        <div class="container" style="text-align:center;max-width:300px">
            <h2>
                @Html.ActionLink("Process to CheckOut", "Create", "shippingaddress")
            </h2>
            <table cellpadding="2" cellspacing="2" border="1">
                <tr>
                    <th>Option</th>
                    <th>Id</th>
                    @*<th>Image</th>*@
                    <th>Size</th>
                    <th>Prize</th>
                    <th>Quantity</th>
                    <th>Sum Total</th>
                </tr>
                @{
                    decimal s = 0;
                    int index = 1;
                }
                @foreach (Item item in (List<Item>)Session["cart"])
                {
                    s = s + item.sz.prize * item.Quantity;
                    <tr>
                        <td>@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = item.sz.sizeid }, null)</td>
                        <td>@item.sz.sizeid</td>
                        <td>@item.sz.size</td>
                        <td>@item.sz.prize</td>
                        <td>@item.Quantity</td>
                        <td>@(item.sz.prize * @item.Quantity)</td>
                    </tr>

                }
                <tr>
                    <td align="right" colspan="5">Sum</td>
                    <td>@s</td>
                </tr>
            </table>

            @*<div class="container" style="text-align:center;max-width:300px">
            @using (Html.BeginForm("adimg", "ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <p>Add Photos to use in your product</p>
                <p>@Html.TextBox("myfile", "", new { type = "file" })</p>
                <p><input type="submit" value="save file" /></p>
            }
            <h2>@ViewBag.a</h2>
        </div>*@

            @*//===========================================================*@

            <table class="table">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.image1)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @*@Html.DisplayFor(modelItem => item.pImage)*@


                            <img src="@Url.Content(item.image1)" style="height:250px;width:500px;" />
                        </td>

                    </tr>
                }

            </table>
        </div>
            //================================================================

            <br />
           

        }

        else
        {
            <h1 style="color:red">Your Cart Is Empty</h1>

        }<br /><br /><br /><br />
        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Navigations</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Sell online</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Shopping cart</a></li>
                                    <li><a href="#">Store builder</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Mobile commerce</a></li>
                                    <li><a href="#">Dropshipping</a></li>
                                    <li><a href="#">Website development</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Point of sale</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Software</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Promo</h3>
                        <a href="#" class="block-6">
                            <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
                            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                                <li class="email">emailaddress@domain.com</li>
                            </ul>
                        </div>
                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>

    </div>
    <script src="~/homecss/js/jquery-3.3.1.min.js"></script>
    <script src="~/homecss/js/jquery-ui.js"></script>
    <script src="~/homecss/js/popper.min.js"></script>
    <script src="~/homecss/js/bootstrap.min.js"></script>
    <script src="~/homecss/js/owl.carousel.min.js"></script>
    <script src="~/homecss/js/jquery.magnific-popup.min.js"></script>
    <script src="~/homecss/js/aos.js"></script>
    <script src="~/homecss/js/main.js"></script>
</body>
</html>





