@model myimage.Models.image
@{
    ViewBag.Title = "Index";
}

@using myimage.Models



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/homecss/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/homecss/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/homecss/css/magnific-popup.css">
    <link rel="stylesheet" href="~/homecss/css/jquery-ui.css">
    <link rel="stylesheet" href="~/homecss/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/homecss/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/homecss/css/aos.css">
    <link rel="stylesheet" href="~/homecss/css/style.css">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<a href="~/Scripts/jquery-1.10.2.min.map">~/Scripts/jquery-1.10.2.min.map</a>*@
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</head>
<body>
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" class="form-control border-0" placeholder="Search">
                            </form>
                        </div>
                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="index.html" class="js-logo-clone">MY IMAGE</a>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li><a href="@Url.Action("signin")"><span class="icon icon-person"></span></a></li>
                                    <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                                    <li>
                                        <a href="@Url.Action("addtocart", "ShoppingCart")" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>

                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                    <li>@Html.ActionLink("Logout", "logout", "admin")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li>
                            <a href="@Url.Action("home","myimage")">Home</a>
                            @*<ul class="dropdown">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                                <li class="has-children">
                                    <a href="#">Sub Menu</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                            </ul>*@
                        </li>
                        <li>
                            <a href="@Url.Action("aboutus","myimage")">About </a>

                        </li>
                        <li class="has-children">
                            <a href="#">Prints</a>
                            <ul class="dropdown">
                                <li><a href="@Url.Action("shopmetallicprint","myimage")">Metallic Prints</a></li>
                                <li><a href="#">Photo Print T-Shirts</a></li>
                                <li><a href="#">Printed Cups</a></li>
                                <li><a href="#">Framed Prints</a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Create","contactforms")">Contact US</a></li>
                      
                    </ul>
                </div>
            </nav>
        </header>
        @if (Session["email"] != null)
        {
            <div class="container" style="text-align:center;max-width:300px">
                <table cellpadding="6" cellspacing="2" border="1">
                    <tr>
                        <th>Id</th>
                        <th>Size</th>
                        <th>Prize</th>
                        <th>Buy</th>
                    </tr>
                    @foreach (sizeprize p in ViewBag.listsizeprize)
                    {
                        <tr>
                            <td>@p.sizeid</td>
                            <td>@p.size</td>
                            <td>@p.prize</td>
                            @*<td>@Html.TextBox("file", "", new { type = "file" })</td>*@
                            <td align="center">@Html.ActionLink("Add to Cart", "Cart", "ShoppingCart", new { id = p.sizeid }, null)</td>
                        </tr>

                    }
                </table>
            </div>
        }

        else
        {
            <h1 style="color:red">Login First</h1>
            @Html.ActionLink("Sign In", "signin", "myimage")
        }<br /><br /><br /><br />


        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Navigations</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Prints</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Mobile commerce</a></li>
                                    <li><a href="#">Dropshipping</a></li>
                                    <li><a href="#">Website development</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Point of sale</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Software</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Promo</h3>
                        <a href="#" class="block-6">
                            <img src="~/homecss/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Finding Your Perfect Prints</h3>

                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="address">APTECH NORTH NAZIMABAD, KARACHI,PAKISTAN</li>
                                <li class="phone"><a href="tel://9200000000">+92 000 0000 000</a></li>
                                <li class="email"><a href="eml://56huzaifamuhammad@gmail.com">emailaddress@domain.com</a></li>
                            </ul>
                        </div>
                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart" aria-hidden="true"></i> by <a target="_blank" class="text-primary">My Image </a>

                        </p>
                    </div>

                </div>
            </div>
        </footer>

    </div>
    <script src="~/homecss/js/jquery-3.3.1.min.js"></script>
    <script src="~/homecss/js/jquery-ui.js"></script>
    <script src="~/homecss/js/popper.min.js"></script>
    <script src="~/homecss/js/bootstrap.min.js"></script>
    <script src="~/homecss/js/owl.carousel.min.js"></script>
    <script src="~/homecss/js/jquery.magnific-popup.min.js"></script>
    <script src="~/homecss/js/aos.js"></script>
    <script src="~/homecss/js/main.js"></script>
</body>
</html>

