@model myimage.Models.registrationform

@{
    ViewBag.Title = "rigistrationform";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/regcss/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/regcss/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.fname, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                        @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.lname, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                        @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date Of Birth" } })
                                        @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.gender, new SelectList(new[] { "Male", "Female" }), "Select Gneder", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.phonenum, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.phonenum, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                                        @Html.ValidationMessageFor(model => model.phonenum, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="SUBMIT" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            
                        </div>

                    </div>
                    <div class="signup-image">
                        <figure><img src="~/regcss/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">@Html.ActionLink("I am already a member", "signin")</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/regcss/vendor/jquery/jquery.min.js"></script>
    <script src="~/regcss/js/main.js"></script>
</body>
</html>
